{% extends 'base.html' %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="centered-content-wrapper">
    <div class="auth-card">
        <div class="logo">
            <img src="{% static 'img/logo-gym.png' %}" alt="Logo">
        </div>
        <h2>INICIAR SESIÓN</h2>
        
        <form method="post">
            {% csrf_token %}
            
            <div class="form-field">
                <label for="id_username">Usuario:</label>
                <input type="text" name="username" id="id_username" required>
            </div>
            
            <div class="form-field">
                <label for="id_password">Contraseña:</label>
                <input type="password" name="password" id="id_password" required>
            </div>
            
            <button type="submit" class="form-submit-btn">Entrar</button>
        </form>
        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="links">
            <p>¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
        </div>
    </div>
</div>
{% endblock %}