{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse - ADN Fitness</title>
    <link rel="stylesheet" href="{% static 'css/gimnasio.css' %}">
</head>
<body>
    <div class="auth-card">
        <div class="logo">
            <img src="{% static 'img/logo-gym.png' %}" alt="ADN Fitness Logo">
        </div>
        <h2>REGISTRARSE</h2>

        <form method="post">
            {% csrf_token %}
                {% for field in form %}
                    <div class="form-field">
                        {% if field.name == 'rol' %}
                        <label for="{{ field.id_for_label }}">Rol:</label>
                        {% else %}
                        {{ field.label_tag }}
                        {% endif %}
                        {{ field }}
                        {% for error in field.errors %}
                        <p class="message-error">{{ error|striptags }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
            <button type="submit" class="form-submit-btn">CREAR CUENTA</button>
        </form>
        <div class="links">
            <a href="{% url 'login' %}">¿YA TIENES UNA CUENTA? INICIA SESIÓN</a>
        </div>
    </div>
</body>
</html>